html {
  height: 100%;
}

#container {
  background-color: steelblue;
}

#row {
  background-color: steelblue;}

#col {
  background-color: steelblue;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

#title {
  text-align: center;
}

#editor {
  background-image: linear-gradient(to bottom right, red, yellow);
  min-height: 250px;
  width: 50%;
}

#preview {
  text-align: center;
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius: 5px;
  margin: 1.25rem auto;
  margin-top: 0;
  min-height: 500px;
  overflow-wrap: break-word;
  border: 1px solid darkblue;
  overflow: hidden;
  max-width: fit-content;
}

#preview-title {
  text-align: left;
  padding-bottom: 0;
}

#editor-title {
  text-align: left;
  padding-bottom: 0;
  padding-left: 25%;
}

img {

}
